.toptitle {
    text-align: center;
    background-color:  	#f7f7f7;
    margin: auto;
    height: 60px;
    padding: 50px;
    font-family: sans-serif;
}

.sale {
    width: 90px;
    height: 40px;
    background-color: #eb3e34;
    color: white;
    text-align: center;
    padding: 10px;
    display: inline;
}

.outerborder {
    width: 95%;
    height: 100%;
    margin: auto;
}

.blackborder {
    border: 5px solid black;
}

/*.cart {
    border: 50px solid black;
}*/

.carttext {
    color: white;
    background-color: black;
    text-align: center;
    height: 40px;
    margin: auto;
    padding: 60px;
    font-family: sans-serif;
    border-top: 5px solid black;
}

.carttext:hover {
    background-color: white;
    color: black;
}

.firstcol {
    width: 50%;
}
.columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0;
}

.column {
    flex: 1;
    transition: 0.3s;
}

