.toptitle {
    text-align: center;
    background-color:  	#f7f7f7;
    margin: auto;
    height: 60px;
    padding: 50px;
    font-family: sans-serif;
}

.sale {
    width: 90px;
    height: 40px;
    background-color: #eb3e34;
    color: white;
    text-align: center;
    padding: 10px;
    display: inline;
    font-family: sans-serif;
}

.outerborder {
    width: 95%;
    height: 100%;
    margin: auto;
}

.blackborder {
    border: 5px solid black;
}

/*.cart {
    border: 50px solid black;
}*/

.carttext {
    color: white;
    background-color: black;
    text-align: center;
    height: 40px;
    margin: auto;
    padding: 60px;
    font-family: sans-serif;
    border-top: 5px solid black;
}

.carttext:hover {
    background-color: white;
    color: black;
}

.firstcol {
    width: 100%;
    margin-bottom: 0;
}

.secondcol {
    padding: 40px;
    font-size: large;
}

.columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0;
    font-family: sans-serif;
}

.column {
    flex: 1;
    transition: 0.3s;
}

.cost, .ship {
    display: inline;
    padding: 40px;
}

.ship {
    color: grey;
    text-align: right;
    margin: auto;
}

.squares {
    display: flex;
    flex-flow: row;
    margin: 0;
    padding: 10px;
}

.blacksquare {
    width: 30px;
    height: 30px;
    background-color: black;
    margin: 10px;
}

.bluesquare {
    width: 30px;
    height: 30px;
    background-color: blue;
    margin: 10px;
}

.redsquare {
    width: 30px;
    height: 30px;
    background-color: red;
    margin: 10px;
}

.yellowsquare {
    width: 30px;
    height: 30px;
    background-color: yellow;
    margin: 10px;
}

.greensquare {
    width: 30px;
    height: 30px;
    background-color: green;
    margin: 10px;
}

.brownsquare {
    width: 30px;
    height: 30px;
    background-color: brown;
    margin: 10px;
}

