.back {
    background-color: #f08370;
    width: 100%;
    height: auto;
    margin: auto;
}

.blurb {
    color: white;
    text-align: center;
    font-size: 30px;
}

.desc {
    padding: 50px;
}

.pebbles {
    margin-left: 40%;
    display: flex;
    flex-direction: row;
}

.pebblesphoto {
    border-radius: 50%;
    height: 100px;
}

.pebblestext {
    color: white;
    margin-top: 40px;
    margin-left: 10px;
}

.logos {
    display: flex;
    padding: 200px;
    justify-content: center;
}

.logo {
    height: 50px;
    margin-top: 10%;
}

.arrows {
    display: flex;
    flex-direction: row;
}

.leftarrow {
    color: white;
    font-size: 1.5rem;
    justify-content: flex-start;
    margin-left: 10%;
}

.rightarrow {
    color: white;
    font-size: 1.5rem;
    justify-content: flex-end;
    margin-left: 80%;
}