.back {
    background-color: #ec8775;
    width: 100%;
    height: 700px;
    margin: auto;
}

.blurb {
    color: white;
    text-align: center;
    font-size: 30px;
}

.desc {
    padding: 50px;
}

.pebbles {
    margin-left: 40%;
    display: flex;
    flex-direction: row;
}

.pebblesphoto {
    border-radius: 50%;
    height: 100px;
}

.pebblestext {
    color: white;
    margin-top: 40px;
    margin-left: 10px;
}

.logos {
    display: inline;
    padding: 200px;
}

.logo {
    height: 50px;
    margin-top: 10%;
}

.leftarrow {
    color: white;
    display: inline;
    padding-left: 10%;
}

.rightarrow {
    color: white;
    display: inline;
    padding-left: 90%;
}